@import "tailwindcss";

@theme {
  --color-brand-brown: #2C1E16;
  --color-brand-beige: #F5F4F0;
  
  --font-sans: var(--font-inter); 
  --font-serif: var(--font-playfair);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}